<head>
  <link rel="stylesheet" href="/form.css" />
</head>

<h2>Add a New Message</h2>
<form action="/new" method="POST">
  <label for="user">Name:</label>
  <input type="text" id="user" name="user" required />

  <label for="text">Message:</label>
  <textarea id="text" name="text" required></textarea>

  <button type="submit">Send</button>
</form>
