<head>
  <link rel="stylesheet" href="/index.css" />
</head>

<div class="message-container">
  <% for(let index = 0; index < messages.length; index++) { %>
  <div class="message-card">
    <h3>User: <%= messages[index].user %></h3>
    <h3>Text: <%= messages[index].text %></h3>
    <h3>Date: <%= messages[index].added %></h3>
    <a class="view-btn" href="/messages/<%= index %>">View details</a>
  </div>
  <% } %>
</div>
