<link rel="stylesheet" href="/message.css" />
<div class="container">
  <h3>Author: <%= message.user %></h3>
  <h3>Message: <%= message.text %></h3>
  <h3>Date: <%= message.added %></h3>
  <a href="/" id="go-back-btn">Go Back</a>
</div>
